<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="div_corpo">

        <nav>
            <img id="logo" src="./IMG/Logo.png">
            <ul>
                <li>HOME</li>
                <li>POSTAGENS</li>
            </ul>
            <a href="#"><img id="configuracoes" src="./IMG/Configurações.png"></a>

        </nav>

        <img id="img_principal" src="./IMG/principal.png">

</body>
</html>